<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%if user_signed_in? %>
<%= current_user.email %>
<!-- current_user  -->
<!-- User.find(params[:id]) -->
<% else %>
<p>No user signed in yet</p>
<% end %>

<h1>Bonjour team, it's airbnb, super nice week ahead!</h1>
