.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: green
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



h2 {
  color: grey

p {
  color: blue;
}
